<!doctype html>
<html>
  <head><title>Iris Predictor</title></head>
  <body>
    <h1 style="color: darkgreen;">🌸 Welcome to the Iris Species Predictor (v2) 🌸</h1>
    <p style="color: gray;">Enter flower measurements below to predict the species.</p>
    <form method="post">
      <input name="sepal_length" placeholder="Sepal Length">
      <input name="sepal_width" placeholder="Sepal Width">
      <input name="petal_length" placeholder="Petal Length">
      <input name="petal_width" placeholder="Petal Width">
      <button type="submit">Predict</button>
    </form>
   {% if result %}
    <h3 style="color: blue;">{{ result }}</h3>
  {% endif %}
  </body>
</html>
